# dependencies
node_modules/

# Next.js build output
.next/
out/

# Netlify local state
.netlify/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript incremental cache
*.tsbuildinfo

# system files
.DS_Store
